{% extends "main_layout.twig" %}
{% block title %}Key {{ key.title }} in {{ key.database }} - Redis Dashboard{% endblock %}
{% block content %}
<h2>Database: <a href="{{ base_url }}/db/{{key.database}}">{{key.database}}</a></h2>
<h3>{{ key.title }}</h3>
<h4>Type: {{ key.type }}</h4>
{% if key.value %}
	<div>{{ key.value }}</div>
{% endif %}
{% if key.elements_count %}
	<div>Elements: {{ key.elements_count }}</div>
{% endif %}
{% if key.elements %}
	<ul>
	{% for value in key.elements %}
		<li>{{ value }}</li>
	{% endfor %}
	</ul>
{% endif %}
{% endblock %}
